.bottom-banner {
  --color: crimson;

  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 2svh var(--padding-inline);
  border-top: 2px solid pink;
  backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgb(255 192 203 / 25%);
  color: var(--color);
  font-size: 1.6rem;
  font-weight: bold;
}

.bottom-banner > button {
  color: var(--color);
}

.hidden {
  display: none;
}
