.about {
  position: relative;
  min-height: 100svh;
}

.content {
  --padding-block-end: 15svh;

  position: relative;
  padding-block: 4svh var(--padding-block-end);
  padding-inline: var(--padding-inline);
}

.p {
  --margin-block-end: 8svh;

  font-size: 1.6rem;
  margin-block-end: var(--margin-block-end);
}

.p:last-of-type {
  margin-block-end: calc(var(--margin-block-end) * 2);
}

.more {
  position: absolute;
  bottom: var(--padding-block-end);
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
