.work {
  --padding-top: 4svh;
  --padding-bottom: 15svh;

  position: relative;
  min-height: 100svh;
}

.content {
  position: relative;
  padding-block: var(--padding-top) var(--padding-bottom);
  padding-inline: var(--padding-inline);
}

.more {
  position: absolute;
  bottom: var(--padding-bottom);
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
