.work-cards > .work-card {
  --margin-block-end: 8dvh;

  margin-block-end: var(--margin-block-end);
}

.work-cards > .work-card:last-of-type {
  margin-block-end: calc(var(--margin-block-end) * 2);
}
