---
import LocaleBaseLayout from "~layouts/LocaleBaseLayout.astro"
import Profile from "./_index/Profile.astro"
import Education from "./_index/Education.astro"
import Work from "./_index/Work.astro"
import Project from "./_index/Project.astro"
---

<LocaleBaseLayout locale="zh">
  <main>
    <Profile />
    <Education class="mt-24" />
    <Work class="mt-24" />
    <Project class="mt-24" />
  </main>
</LocaleBaseLayout>

<style>
  html {
    --at-apply: scroll-pt-19 "md:scroll-pt-29";
  }
</style>
