:root {
  /* Font Weight */
  --font-weight-base: 400;
  --font-weight-semi: 600;
  --font-weight-bold: 700;

  /* Font Family */
  --font-family: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', helvetica, arial,
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  /* Line Height */
  --line-height-base: 1.5;

  /* Font Size */
  --fs-2xs: 0.625rem; /* 10px @ 16px */
  --fs-xs: 0.75rem; /* 12px @ 16px */
  --fs-sm: 0.875rem; /* 14px @ 16px */
  --fs-base: 1rem; /* 16px @ 16px */
  --fs-md: 1.125rem; /* 18px @ 16px */
  --fs-lg: 1.3125rem; /* 21px @ 16px */
  --fs-xl: 1.5rem; /* 24px @ 16px */
  --fs-2xl: 1.6875rem; /* 27px @ 16px */
  --fs-3xl: 1.9688rem; /* 31.5px @ 16px */
  --fs-4xl: 2.25rem; /* 36 @ 16px */

  /* Space */
  --sp-2xs: 0.25rem; /* 4px @ 16px */
  --sp-xs: 0.5rem; /* 8px @ 16px */
  --sp-sm: 0.75rem; /* 12px @ 16px */
  --sp-base: 1rem; /* 16px @ 16px */
  --sp-md: 1.25rem; /* 20px @ 16px */
  --sp-lg: 1.5rem; /* 24px @ 16px */
  --sp-xl: 1.75rem; /* 28px @ 16px */
  --sp-2xl: 2rem; /* 32px @ 16px */
  --sp-3xl: 2.25rem; /* 36px @ 16px */

  /* Responsive Breakpoint (Tailwind) */
  --xs: 640px;
  --sm: 768px;
  --md: 1024px;
  --lg: 1280px;
  --xl: 1536px;

  /* Restriction */
  --max-content-width: 1400px;

  /* Other */
  --app-header-height: 3.75rem; /* 60px @ 16px */

  /* Root Style */
  color-scheme: light dark;
  font-family: Inter, var(--font-family);
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* Inter fix for Chrome */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, var(--font-family);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
