/*
* Typesetting
* Modular Scale: 12px 14px 16px, 1.5 @ 16px
* Vertical Rhythm: 24px (step by 4px)
*/

:root {
  /* Colors */

  /* --text-primary: #333;
  --text-secondary: #666;
  --text-tertiary: #999;
  --border: #dcdfe6;
  --border-light: #e4e7ed;
  --border-dark: #d4d7de;
  --black: #000;
  --white: #fff; */

  /* --off-white: #f7f1f0;
  --border-1: #c3a6a0;
  --brown: #a15c38;
  --bk: #262220; */

  /* Line Height */
  --line-height-normal: 1.5;

  /* Font Weight */
  --font-weight-normal: 400;
  --font-weight-semi: 600;
  --font-weight-bold: 700;

  /* Font Family */
  --font-family: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', helvetica, arial,
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  /* Font Size (Modular Scale) */
  --font-size-1: 0.75rem; /* 12px @ 16px */
  --font-size-2: 0.875rem; /* 14px @ 16px */
  --font-size-3: 1rem; /* 16px @ 16px */
  --font-size-4: 1.125rem; /* 18px @ 16px */
  --font-size-5: 1.3125rem; /* 21px @ 16px */
  --font-size-6: 1.5rem; /* 24px @ 16px */
  --font-size-7: 1.6875rem; /* 27px @ 16px */
  --font-size-8: 1.9688rem; /* 31.5px @ 16px */
  --font-size-9: 2.25rem; /* 36px @ 16px */

  /* Space (Vertical Rhythm) */
  --vr-1: 0.25rem; /* 4px @ 16px */
  --vr-2: 0.5rem; /* 8px @ 16px */
  --vr-3: 0.75rem; /* 12px @ 16px */
  --vr-4: 1rem; /* 16px @ 16px */
  --vr-5: 1.25rem; /* 20px @ 16px */
  --vr-6: 1.5rem; /* 24px @ 16px */
  --vr-7: 1.75rem; /* 28px @ 16px */
  --vr-8: 2rem; /* 32px @ 16px */
  --vr-9: 2.25rem; /* 36px @ 16px */

  /* Responsive Breakpoint (Tailwind) */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Restriction */
  --max-content-width: 1400px;

  /* Other */
  --app-header-height: 3.75rem; /* 60px @ 16px */

  /* Root Style */
  color-scheme: light dark;
  font-family: Inter, var(--font-family);
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* Inter fix for Chrome */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, var(--font-family);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
