@import url('reset.css');

:root {
  /* colors */
  --text-primary: #333;
  --text-secondary: #666;
  --text-tertiary: #999;
  --border: #dcdfe6;
  --border-light: #e4e7ed;
  --black: #000;
  --white: #fff;

  /* responsive breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* common gaps */
  --gap-4: 0.4rem;
  --gap-8: 0.8rem;
  --gap-12: 1.2rem;
  --gap-16: 1.6rem;
  --gap-20: 2rem;
  --gap-24: 2.4rem;
  --gap-28: 2.8rem;
  --gap-32: 3.2rem;

  /* restrictions */
  --max-content-width: 1200px;

  /* others */
  --padding-inline: clamp(var(--gap-16), 1.5dvw, var(--gap-32));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Helvetica,
    Arial,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei UI',
    'Microsoft YaHei',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
}

html,
body,
#root {
  min-height: 100svh;
}

body {
  color: var(--text-secondary);
  font-size: 1.4rem;
}

#root {
  background-color: var(--white);
}
