/* Modular Scale: 12px 14px 16px, 1.5 @ 16px */

/* Vertical Rhythm: 24px (step by 8px); */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --text-primary: #333;
  --text-secondary: #666;
  --text-tertiary: #999;
  --border: #dcdfe6;
  --border-light: #e4e7ed;
  --border-dark: #d4d7de;
  --black: #000;
  --white: #fff;

  /* Font Size */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;

  /* Gap */
  --gap-2xs: 4px;
  --gap-xs: 8px;
  --gap-sm: 16px;
  --gap: 24px;
  --gap-lg: 32px;
  --gap-xl: 40px;
  --gap-2xl: 48px;

  /* Responsive Breakpoint */
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1600px;

  /* Restriction */
  --max-content-width: 1400px;

  color-scheme: light dark;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Helvetica,
    Arial,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei UI',
    'Microsoft YaHei',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
}
