a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.2rem;
}
