---
import HeadIcons from "~components/HeadIcons.astro"
import HeadMetaEn from "~components/en/HeadMeta.astro"

const redirectMessage: string = "redirecting..."
---

<html lang={Astro.currentLocale}>
  <title>{redirectMessage}</title>
  <HeadMetaEn />
  <HeadIcons />
  <body>{redirectMessage}</body>
</html>

<script>
  import { type TLocale, getLocale, setLocale } from "~/i18n"

  const locale: TLocale = getLocale()
  setLocale(locale)
  const tokens: string[] = window.location.href.split(import.meta.env.BASE_URL, 1)
  tokens.push(`/${locale}/404`)
  const url: string = tokens.join(import.meta.env.BASE_URL)
  window.location.href = url
</script>
