---
import HeadIcons from "~components/HeadIcons.astro"
import HeadMetaEn from "~components/en/HeadMeta.astro"
---

<html lang="en">
  <title>redirecting...跳转中...</title>
  <HeadMetaEn />
  <HeadIcons />
  <body>
    <div>redirecting...</div>
    <div>跳转中...</div>
  </body>
</html>

<script>
  import { type TLocale, getLocale, setLocale } from "~/i18n"

  const locale: TLocale = getLocale()
  setLocale(locale)
  let url: string = window.location.href
  if (!url.endsWith("/")) {
    url += "/"
  }
  url += locale
  window.location.href = url
</script>
