---
// - Put Iconify icons that are not showing up below.
// - Put all icons used here just in case.
---

<div class="hidden">
  <i class="i-ri:links-line"></i>
  <i class="i-ri:external-link-line"></i>
  <i class="i-ri:computer-line"></i>
  <i class="i-ri:sun-line"></i>
  <i class="i-ri:moon-line"></i>
  <i class="i-ri:map-pin-x-line"></i>
  <i class="i-ri:wechat-line"></i>
  <i class="i-ri:mail-line"></i>
  <i class="i-ri:earth-line"></i>
  <i class="i-ri:github-line"></i>
  <i class="i-ri:github-fill"></i>
  <i class="i-ri:linkedin-box-line"></i>
  <i class="i-ri:instagram-line"></i>
  <i class="i-ri:twitter-x-line"></i>
  <i class="i-ri:star-fill"></i>
  <i class="i-ri:git-fork-fill"></i>
  <i class="i-ri:arrow-right-line"></i>
  <i class="i-ri:arrow-left-line"></i>
</div>
