---
interface Props {
  text: string
}
const { text } = Astro.props
---

<div
  class:list={[
    "text-xs",
    "leading-normal",
    "px-2",
    "py-1",
    "border",
    "border-solid",
    "border-gray-300",
    "rounded-full",
    "dark:border-gray-600",
    "dark:text-gray-400",
  ]}
>
  {text}
</div>
