.header {
  --height: 8svh;

  position: sticky;
  z-index: 1000;
  top: 0;
  display: flex;
  height: var(--height);
  justify-content: space-between;
  background-color: var(--white);
  color: var(--text-primary);
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  line-height: var(--height);
  padding-inline: var(--padding-inline);
}
