.intro {
  position: relative;
  display: flex;
  height: 100svh;
  flex-direction: column;
}

.header {
  --height: 10svh; /* overrides sticky header height */

  font-size: 2.4rem;
}

.logo {
  line-height: var(--height);
  padding-inline: var(--padding-inline);
}

.content {
  --padding-block-end: 15svh;

  position: relative;
  flex: auto;
  padding-block: 20svh var(--padding-block-end);
  padding-inline: var(--padding-inline);
}

.h1 {
  margin-bottom: 5svh;
  color: var(--text-primary);
}

.h2 {
  font-weight: normal;
}

.more {
  position: absolute;
  bottom: var(--padding-block-end);
  left: 50%;
  transform: translate(-50%, 100%);
}
