.intro {
  --padding-top: 25dvh;
  --padding-bottom: 15dvh;

  position: relative;
  height: 100dvh;
  padding-block: var(--padding-top) var(--padding-bottom);
  padding-inline: var(--padding-inline);
}

h1 {
  margin-bottom: 5dvh;
  color: var(--text-primary);
}

h2 {
  font-weight: normal;
}

.more {
  position: absolute;
  bottom: var(--padding-bottom);
  left: 50dvw;
  transform: translateX(-50%) translateY(100%);
}
