.intro {
  position: relative;
  display: flex;
  height: 100svh;
  flex-direction: column;
}

.header {
  --height: 10svh;

  font-size: 2.4rem;
}

.logo {
  line-height: var(--height);
  padding-inline: var(--padding-inline);
}

.content {
  --padding-top: 20svh;
  --padding-bottom: 15svh;

  position: relative;
  flex: auto;
  padding-block: var(--padding-top) var(--padding-bottom);
  padding-inline: var(--padding-inline);
}

h1 {
  margin-bottom: 5svh;
  color: var(--text-primary);
}

h2 {
  font-weight: normal;
}

.more {
  position: absolute;
  bottom: var(--padding-bottom);
  left: 50%;
  transform: translate(-50%, 100%);
}
