.app-header {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: var(--app-header-height);
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: var(--ms-3);
  font-weight: var(--font-weight-bold);
  line-height: var(--app-header-height);
  padding-inline: var(--sp-4);
  text-transform: uppercase;
}

.hamburger {
  height: 100%;
  font-size: var(--ms-3);
  padding-inline: var(--sp-4);
}
